

p {
    font-size:larger 
}

.pagina {text-align:center;}

body {
    background:linear-gradient(45deg, #5A2020 0% 50%, #171717 50% 100%);
    min-height: 100vh;
    
}

.bovenkant {
    text-align:left;
    font-family:fantasy;
    color:whitesmoke;

}

.grote-foto {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-style: inset solid;
      border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    color:antiquewhite;
}

.kleine-fotos {
    display: flex;
    justify-content:center;
    gap: 25px;
}
.kaart {
    width: 200px;
}

    /*MARK: Kleine fotos */
    .kaart img{
        width: 200px;
    height: 150px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    object-fit:cover; border-style:inset solid;
      border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    color:antiquewhite;
    }
.foto {
    width: 200px;
}
.foto img {
    width: 100px;
    height: 150px;
    
}
.ondertekst {
    font-family:sans-serif;
    border-left-style: ridge; color:black;
    border-right-style:ridge; color: black;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    border-bottom-style: groove; color:black;
    border-top-style: groove; color: black;
    color: antiquewhite;
    font-family: fantasy;

}
.onderondertekst {
    color:antiquewhite;
    font-family:'Courier New', Courier, monospace;
    border-left-style:ridge; color: black;
    border-right-style: ridge; color:black;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    border-bottom-style: groove; color: black;
    border-top-style: groove; color: black;
    border: width 10cm;
    border: length 125px;
    color: antiquewhite;
}

h2 {
    color:#f4e8d3;
    text-shadow: 2px 3px 5px #f4e8d3;
}